.main-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.side-one {
  position: absolute;
  top: 0;
  left: 0px;
  right: 40%;
  background-color: rgb(189, 186, 186);
  bottom: 0;
  box-sizing: border-box;
  overflow: auto;
}
.side-two {
  position: absolute;
  top: 0;
  left: 60%;
  right: 0;
  bottom: 0;
  background-color: white;
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
}

@media only screen and (max-width: 650px) {
  .main-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
  }

  .side-one {
    position: absolute;
    top: 0;
    left: 0px;
    right: 0%;
    background-color: rgb(189, 186, 186);
    height: 100%;
    /* display: none; */
    box-sizing: border-box;
    overflow: auto;
  }

  .side-two.active {
    display: flex;
  }

  .side-two {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: blue;
    display: none;
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
  }

  .side-two.active {
    display: flex;
  }
}
