.posting {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 10px 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  margin: -100% auto;
}

.posting.active {
  margin: 10px auto;
}

.posting form input,
textarea {
  padding: 13px 20px;
  box-sizing: border-box;
  margin: 10px 0;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  width: 100%;

  resize: none;
}

.posting form button {
  /* padding: 8px 20px; */
  width: 50%;
  height: 40px;
  align-self: center;
  justify-self: center;
  margin: 0 25%;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.posting form button:hover {
  background-color: rgb(0, 26, 255);
}

.posting form button:active {
  transform: scale(0.9);
}
