.login-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.login-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40%;
  height: 100%;
}

.login-left h3 {
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgba(0, 60, 255, 0.808);
  margin: -100px 0 0 30px;
}

.login-left span {
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(24, 23, 23);
  font-weight: 500;
  margin-left: 30px;
}

.login-right {
  width: 60%;
  height: 100%;
}

.login-right form {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  width: 50%;
  height: 40%;
  margin: 100px auto;
  /* align-items: center; */
  padding: 20px 0px 0px 0px;
  border-radius: 5px;
}

.login-right form input {
  width: 80%; /* Changed from 100% to 80% */
  padding: 10px 20px;
  margin: 10px 10%;
  outline: none;
  box-sizing: border-box;
  justify-content: center;
  border-radius: 3px;
  outline-color: orange;
  border: 1px solid #e6e2e2;
}

.login-right form button {
  width: 80%; /* Added this line */
  padding: 10px 20px;
  margin: 10px 10%;
  outline: none;
  box-sizing: border-box;
  justify-content: center;
  border-radius: 3px;
  outline-color: orange;
  border: 1px solid #e6e2e2;
}

.login-right form .error {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
  width: 50%;
  padding: 5px auto;
  margin: 0px auto;
}

.login-right form .login-button {
  background-color: rgba(0, 60, 255, 0.808);
  color: white;
  border: none;
  margin-top: 30px;
}

.login-right form .login-button {
  margin-top: -10px;
}

@media only screen and (max-width: 990px) {
  .login-signup-container {
    display: flex;
    flex-direction: column;
  }
  .login-left {
    display: none;
  }
  .login-right {
    width: 100%;
    height: 100;
    margin-top: 0px;
  }
  .login-right form {
    width: 100%;
    height: 100%;
    margin: 0px;
  }
  .login-right form input {
    width: 100%;
  }
}
